* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

#content {
    background: url('./restaurant.jpg') no-repeat fixed center;
    height : 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.57);
}

.header h1{
    margin : 10px 0;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 30%;
}